.tv-shows-app {
  margin-top: 12px;
  width: 600px;
  border: solid 1px #000;

  &__head {
    width: 100%;
    line-height: 80px;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
  }

  &__filter {
    width: 100%;
    height: 60px;
    text-align: center;
  }

  &__list {
    width: 100%;
  }

  &__footer {
    width: 100%;
  }
}

.modal-details {
  width: 400px;
  position: relative;
  &__close {
    position: absolute;
    right: 0;
    top: 0;
  }

  &__title{
    width: 100%;
    text-align: center;
  }

  &__favorite {
    width: 100%;
    margin-top: 32px;
    text-align: center;
  }

  &__image {
    width: 100%;
    margin-top: 32px;
    text-align: center;
  }

  &__text {
    width: 100%;
    margin-top: 32px;
    text-align: center;
  }

  &__link {
    width: 100%;
    margin-top: 32px;
    text-align: center;
  }
}