.tv-show-list{
  width: 100%;
  &__item {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--left {
      padding-left: 12px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      span {
        margin-left: 6px;
        font-size: 16px;
        font-weight: 600;
      }
    }

    &--right {
      padding-right: 12px;
    }
  }
}

.checkbox {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #000;

  &--selected {
    background-color: gold;
  }
}